@model CiroTahsilatVM
@{
    ViewBag.Title = "Durumum";
    Layout = "_AdminLayout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Home"><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Ciro & Tahsilatlarım</a></li>
    </ol>
</nav>

@if (ViewBag.IsAdmin == true)
{
    <div class="jumbotron">
        <h3 class="text-center display-5">Ciro & Tahsilat Durumu</h3>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Yıl Seç:</strong></p>
                <select class="form-select form-control" id="selectBox">
                    <option selected="@(Model.SelectedYear ==DateTime.Now.Year ? "selected":null)" value="@DateTime.Now.Year">@DateTime.Now.Year</option>
                    <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 1 ? "selected":null)" value="@(DateTime.Now.Year - 1)">@(DateTime.Now.Year - 1)</option>
                    <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 2 ? "selected":null)" value="@(DateTime.Now.Year - 2)">@(DateTime.Now.Year - 2)</option>
                    <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 3 ? "selected":null)" value="@(DateTime.Now.Year - 3)">@(DateTime.Now.Year - 3)</option>
                    <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 4 ? "selected":null)" value="@(DateTime.Now.Year - 4)">@(DateTime.Now.Year - 4)</option>
                </select>
            </div>

            <div class="col-md-6">
                <p><strong>Plasiyer Seç: @Model.SelectedUserName</strong></p>
                <select id="salesman" class="form-control" selected="@(Model.SelectedUserId == Model.SelectedUserId ? "selected":null)" asp-items="@(new SelectList(Model.UserNameAndId,"Id","Name"))"></select>
            </div>
        </div>
    </div>
}
else
{
    <p><strong>Yıl Seç:</strong></p>
    <select class="form-select form-control" id="selectBox">
        <option selected="@(Model.SelectedYear ==DateTime.Now.Year ? "selected":null)" value="@DateTime.Now.Year">@DateTime.Now.Year</option>
        <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 1 ? "selected":null)" value="@(DateTime.Now.Year - 1)">@(DateTime.Now.Year - 1)</option>
        <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 2 ? "selected":null)" value="@(DateTime.Now.Year - 2)">@(DateTime.Now.Year - 2)</option>
        <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 3 ? "selected":null)" value="@(DateTime.Now.Year - 3)">@(DateTime.Now.Year - 3)</option>
        <option selected="@(Model.SelectedYear ==DateTime.Now.Year - 4 ? "selected":null)" value="@(DateTime.Now.Year - 4)">@(DateTime.Now.Year - 4)</option>
    </select>
}



<div class="row">
    <div class="col-md-6">
        <table class="table table-hover table-striped">
            <thead>
                <tr>

                    <th scope="col">Ay</th>
                    <th scope="col">Ay Adı</th>
                    <th scope="col">Yıl</th>
                    <th scope="col">Ciro</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Cirolar.CiroList)
                {
                    <tr>
                        <td>@c.Date.Month</td>
                        <td> @c.Date.ToString("MMMM")</td>
                        <td> @c.Date.ToString("yyyy")</td>
                        <td>@c.Amount.ToString("c")</td>

                    </tr>


                }

                <tr>
                    <td></td>
                    <td> </td>
                    <td> </td>
                    <td>Toplam Ciro: <strong>@Model.Cirolar.SumTotal.ToString("c")</strong></td>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-hover table-striped">
            <thead>
                <tr>

                    <th scope="col">Ay</th>
                    <th scope="col">Ay Adı</th>
                    <th scope="col">Yıl</th>
                    <th scope="col">Tahsilat</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Tahsilatlar.Tahsilats)
                {
                    <tr>
                        <td>@c.Date.Month</td>
                        <td> @c.Date.ToString("MMMM")</td>
                        <td> @c.Date.ToString("yyyy")</td>
                        <td>@c.Amount.ToString("c")</td>

                    </tr>


                }

                <tr>
                    <td></td>
                    <td> </td>
                    <td> </td>
                    <td>Toplam Ciro: <strong>@Model.Tahsilatlar.SumTotal.ToString("c")</strong></td>

                </tr>

            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            const selectedValue = $('#selectBox');
            const selectedSalesman =$('#salesman');
            $('#selectBox').on('change', function () {
                window.location =
                    `/Dashboard/Index/?year=${selectedValue.val()}&userId=${selectedSalesman.val()}`;
            });

            $('#salesman').on('change',function(){
                window.location =
                    `/Dashboard/Index/?userId=${selectedSalesman.val()}&year=${selectedValue.val()}`;
            })
        });
    </script>
}