@model TicketListDto
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Tamamlanmış Görevlerim";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Home"><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Tamamlanmış Görevlerim</a></li>
    </ol>
</nav>

@if (Model.Tickets.Count > 0)
{
    <div class="mt-2">
        @foreach (var t in Model.Tickets)
        {
            <div class="mt-2">
                <div class="card">
                    <div class="card-header">
                        Ticket ID #@t.Id

                        <span style="float:right">Görev Yazılış Tarihi: @t.CreatedDate</span>
                    </div>
                    <div class="card-body">
                        <div>
                        @{
                            if (t.Urgency.Id == 1)
                            {
                                <span class="badge badge-info mb-1"><i class="fa fa-flag" aria-hidden="true"></i> @t.Urgency.UrgencyName</span>
                            }
                            else if (t.UrgencyId == 2)
                            {
                                <span class="badge badge-warning mb-1 text-white"><i class="fa fa-flag" aria-hidden="true"></i> @t.Urgency.UrgencyName</span>
                            }
                            else
                            {
                                <span class="badge badge-danger mb-1"><i class="fa fa-flag" aria-hidden="true"></i> @t.Urgency.UrgencyName</span>
                            }
                        }
                       
                        <h5 class="card-title">@t.Subject</h5>
                    
                    </div>
                        <p class="card-text">@t.Detail</p>

                       
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="mt-2">

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Maalesef:'(!</strong> Tamamlanmış göreviniz yok!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


    </div>
}

