@model UserInfoViewModel

<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading"></div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Tabelalarım
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="Tabela">Tabela Taleplerim</a>

                        <a class="nav-link" asp-action="Add" asp-controller="Tabela">Tabela Ekle</a>
                        <a class="nav-link" asp-action="DeletedTabelas" asp-controller="Tabela">Silinmiş  Tabelalar </a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    İzinlerim
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link" asp-action="Index" asp-controller="Let">İzin Taleplerim</a>
                        @{
                            if (Model.IsAdmin)
                            {

                            }
                            else
                            {
                                 <a class="nav-link" asp-action="LetAdd" asp-controller="Let">İzin Al</a>
                            }
                        }
                       

                    </nav>
                </div>


                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsa" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
                    Hatırlatıcılarım
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsa" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a asp-controller="Ticket" asp-action="AddTicket" class="nav-link"><i class="fa fa-plus mr-2" aria-hidden="true"></i>  Hatırlatıcı Ekle</a>
                                                @{
                            if (Model.IsAdmin)
                            {
                                  <a asp-controller="Ticket" asp-action="Assignment" class="nav-link"><i class="fa fa-user-plus mr-2" aria-hidden="true"></i>  Atadığım Görevler <span class="badge badge-success">@Model.CountAssigneds</span></a>
                            }
                            else
                            {
                                
                            }
                        }
                      
                        <a asp-controller="Ticket" asp-action="Index" class="nav-link"><i class="fa fa-times-circle mr-2" aria-hidden="true"></i>  Tamamlanmamış Görevlerim<span class="badge badge-success">@Model.Unclosed</span></a>
                        <a asp-controller="Ticket" asp-action="Remainder" class="nav-link"> <i class="fa fa-calendar mr-2" aria-hidden="true"></i> Zamanlanmış Görevlerim<span class="badge badge-warning">@Model.Remainder</span></a>
                        <a asp-controller="Ticket" asp-action="ClosedTickets" class="nav-link"><i class="fa fa-check-square mr-2" aria-hidden="true"></i>Tamamlanmış Görevlerim<span class="badge badge-info">@Model.Closed</span></a>

                    </nav>
                </div>

                @if (Model.IsAdmin)
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutasd" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        Kullanıcı Yönetimi
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayoutasd" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" asp-action="Index" asp-controller="Users">Kullanıcılar</a>
                            <a class="nav-link" asp-action="Add" asp-controller="Users">Kullanıcı Ekle</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutas" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fa fa-eye" aria-hidden="true"></i></div>
                        Rol Yönetimi
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayoutas" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" asp-action="Index" asp-controller="Roles">Roller</a>
                            <a asp-controller="Roles" asp-action="UserWithRoles" class="nav-link">Rol Atama</a>
                        </nav>
                    </div>
                }
                else
                {

                }
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsap" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>
                    Durumum
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsap" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="Dashboard"><i class="fa fa-bullseye mr-1" aria-hidden="true"></i>     Ciro & Tahsilatlarım</a>
                        <a class="nav-link" asp-action="Index" asp-controller="Sells"><i class="fa fa-bullseye mr-1" aria-hidden="true"></i>     Satışlarım & Hedeflerim</a>

                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hunter" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                    Hunter
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="hunter" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="Hunter"><i class="fa fa-bullseye mr-1" aria-hidden="true"></i>     Hunter Listesi</a>
                       

                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Oturum Açan Kullanıcı:</div>
            @Model.Username
        </div>
    </nav>
</div>