@model List<TabelaViewModel>
@{
    ViewBag.Title = "Tabelalar";
    Layout = "_AdminLayout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a asp-action="Index">Tabelalar</a></li>
    </ol>
</nav>

<div id="modal-area">
</div>

<table class="table-hover table-striped" id="tableList" width="100%">
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Müşteri</th>
            <th>Markası</th>
            <th>Malzeme Cinsi</th>
            <th>Durumu</th>
            <th>Tarihi</th>
            <th>Notlar</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td><a href="~/img/tabelaImages/@t.SmallThumbnail"><img style="max-width:140px;max-height:100px;" class="img img-responsive " src="~/img/tabelaImages/@t.SmallThumbnail" /></a></td>
                <td>@t.CustomerName</td>
                <td>@t.BrandName</td>
                <td>@t.MaterialName</td>
                <td>@t.StatusName</td>
                <td>@t.CreatedDate.ToShortDateString()</td>
                <td><button id="readNote" data-tabelaId="@t.Id" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Oku</button></td>
                <td>
                    <a class="btn btn-warning text-white" asp-action="Update" asp-route-tabelaId="@t.Id"><i class="fas fa-edit"></i></a>
                    <a data-id="@t.Id" id="btnDelete" class="btn btn-danger text-white"><i class="fas fa-trash"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function() {
            $(document).on('click', '#btnDelete', function(e) {
                e.preventDefault();
                const id = $(this).attr("data-id");
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Bu kaydı silmek istediğinize emin misiniz?',
                    text: "Eğer silerseniz veriyi geri alamazsınız",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Evet,sil',
                    cancelButtonText: 'Hayır silme',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        //Sil butonuna tıklandı
                        $.ajax({
                            url: '/Tabela/Delete',
                            method: 'POST',
                            data: { tabelaId: id },
                            success: function(message) {
                                //sayfayı yenile
                                window.location.reload()
                                //alert ver

                            }
                        });
                        swalWithBootstrapButtons.fire(
                            'Silindi!',
                            'Silme işlemi başarılı',
                            'success'
                        )
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'İptal Edildi',
                            'Silme işlemi iptal edildi',
                            'error'
                        )
                    }
                })

            });
            $(document).on('click', '#readNote', function(e) {
                //modalın açılacağı alan
                const placeHolderDiv = $('#modal-area');
                //tıklanılan butonun idsi
                const id = $(this).attr('data-tabelaId');
                e.preventDefault();
                //tabela read note a get istek at data olarak tabela id gönder gelen datayı modalda göster
                $.ajax({
                    url: 'Tabela/ReadNote/',
                    method: "get",
                    data: { tabelaId: id },
                    success: function(d) {
                        placeHolderDiv.html(d);
                        placeHolderDiv.find('.modal').modal('show');
                    },
                });
            });
        });
    </script>

}