
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("_StylesPartialView")
    @await Component.InvokeAsync("NToastNotify")
    @RenderSection("css",false)
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Tabela Takip Yazılımı</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">

                <div class="input-group-append">
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            @await Component.InvokeAsync("Notification");
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a asp-action="ChangePassword" asp-controller="Users" class="dropdown-item"><i class="fa fa-key" aria-hidden="true"></i> Şifre Değiştir</a>
                    <a asp-action="Signout" asp-controller="Auth" class="dropdown-item">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        @await Component.InvokeAsync("Sidebar")
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Tüm hakları saklıdır &copy; Tabela Takip Yazılımı @DateTime.Now.Year</div>
                        <div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @await Html.PartialAsync("_ScriptsPartialView")
    @RenderSection("scripts",false)
</body>
</html>

